<li class="mt-5 mx-5">
  <a routerLink="home" style="--clr:#1e9bff" routerLinkActive="active"><span><fa-icon [icon]="faHome"></fa-icon></span><i></i></a>
</li>
<li class="mt-5 mx-5">
  <a routerLink="locataire" style="--clr:#ff1867" routerLinkActive="active"><span><fa-icon [icon]="faUser"></fa-icon></span><i></i></a>
</li>
<li class="mt-5 mx-5">
  <a routerLink="voiture" style="--clr:#6eff3e" routerLinkActive="active"><span><fa-icon [icon]="faCar"></fa-icon></span><i></i></a>
</li>
<li class="mt-5 mx-5">
  <a routerLink="location" style="--clr:#d2c92b" routerLinkActive="active"><span><fa-icon [icon]="faMoney"></fa-icon></span><i></i></a>
</li>
<li class="mt-5 mx-5">
  <a routerLink="filter" style="--clr:#632fe8" routerLinkActive="active"><span><fa-icon [icon]="faSearch"></fa-icon></span><i></i></a>
</li>
<li class="mt-5 mx-5">
  <a routerLink="effectif" style="--clr:#f8711f" routerLinkActive="active"><span><fa-icon [icon]="faListNumeric"></fa-icon></span><i></i></a>
</li>
