<div class="container" style="margin-top: 7%">
  <form [formGroup]="locationForm" (ngSubmit)="onSubmitPost(data)" #data="ngForm" >
    <div style="background-color: rgba(239,239,241,0.09); padding: 2%;border-radius: 10px;width:50% ;margin: auto; box-shadow: #c7c3c3 1px 0px 15px 1px">
      <div class="card-header mt-5 mx-5">
        <h3 class="modal-title">Ajout locataire</h3>
      </div>
      <div class="">
        <div class="inputBox">
          <select class="form-control m-2 bg-transparent border-0" formControlName="n_locataire"  [(ngModel)]="location.n_locataire" required="required">
            <option>Numero Locataire</option>
            <option *ngFor="let locataire of Nlocataire">{{locataire.n_locataire}}</option>
          </select>
          <span>Numero locataire</span>
          <i></i>
        </div>

        <div class="inputBox">
          <select formControlName="n_voiture" class="form-control m-2 bg-transparent border-0" [(ngModel)]="location.n_voiture" required="required">
            <option>Numero voiture</option>
            <option *ngFor="let voiture of Nvoiture">{{voiture.n_voiture}}</option>
          </select>
          <i></i>
        </div>
        <div class="inputBox">
          <input class="form-control m-2" type="number" placeholder="Nombre de jour" formControlName="nb_jour" [(ngModel)]="location.nb_jour" required="required">
          <span>Nombre de jour</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input formControlName="date_location" [(ngModel)]="location.date_location" type="date" placeholder="Date location" required="required">
          <span>Date Location</span>
          <i></i>
        </div>
        <div class="inputBox">
          <a type="button" class="btn btn-danger light mx-2" routerLink="/location">Cancel</a>
          <button type="submit" class="btn btn-primary" [disabled] ="!locationForm.valid">Ajouter</button>
        </div>
      </div>
    </div>
  </form>
</div>
